/target
/build
/cmake_build
/cargo-timing*
/.direnv
/.idea
/.cache
/.ccls-cache
/.vscode/c_cpp_properties.json
compile_commands.json
kime_engine.h
kime_engine.hpp
massif.out*
flamegraph.svg

result
.DS_Store
