[Desktop Entry]
Exec=/usr/bin/kime-xim
Name=kime xim server
Name[ko]=kime xim 서버
Comment=Start kime xim server
Type=Application
Terminal=false
StartupNotify=true
NoDisplay=true
Icon=kime-han-black
