[Desktop Entry]
Exec=/usr/bin/kime-window
Name=kime window server
Name[ko]=kime window 서버
Comment=Start kime window server
Type=Application
Terminal=false
StartupNotify=true
Icon=/usr/share/kime/icons/kime-han-black-64x64.png

