[Desktop Entry]
Exec=/usr/bin/kime-wayland
Name=kime wayland server
Name[ko]=kime wayland 서버
Comment=Start kime wayland server
Type=Application
Terminal=false
StartupNotify=false
NoDisplay=true
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
Icon=kime-han-black
