[Desktop Entry]
Exec=/usr/bin/kime-xdg-autostart
Name=kime daemon
Name[ko]=kime 데몬
Comment=Start kime daemon
Type=Application
Terminal=false
NoDisplay=true
StartupNotify=false
X-DBUS-StartupType=Unique
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=false
X-KDE-StartupNotify=false
X-KDE-Wayland-VirtualKeyboard=true
Icon=kime-hangul-black
