[Desktop Entry]
Exec=/usr/bin/kime
Name=kime daemon
Name[ko]=kime 데몬
Comment=Start kime daemon
Type=Application
Terminal=false
NoDisplay=true
StartupNotify=false
X-DBUS-StartupType=Unique
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=false
X-KDE-StartupNotify=false
Icon=kime-hangul-black
