[package]
name = "kime-engine-core"
version = "1.0.0"
authors = ["Riey <creeper844@gmail.com>"]
edition = "2018"
license = "GPL-3.0"

[dependencies]
ahash = { version = "0.6.2", features = ["serde"] }
bitflags = "1.2.1"
enumset = { version = "1.0.4", features = ["serde"] }
num-derive = "0.3.3"
num-traits = "0.2.14"
serde = { version = "1.0.118", features = ["derive"] }
serde_yaml = "0.8.15"
strum = { version = "0.20.0", features = ["derive"] }
xdg = "2.2.0"
