if [ "$IM_CONFIG_PHASE" = 2 ]; then
    # start kime daemon
    # it failed when other daemon is already running
    kime || true
fi

if [ "$IM_CONFIG_PHASE" = 1 ]; then
    XMODIFIERS="@im=kime"
    GTK_IM_MODULE=kime
    QT4_IM_MODULE=xim
    QT_IM_MODULE=kime
    CLUTTER_IM_MODULE=xim
fi
