if [ "$IM_CONFIG_PHASE" = 2 ]; then
    # terminate previous processes
    killall kime-xim || true
    killall kime-indicator || true
    kime-xim &
    kime-indicator &
fi

if [ "$IM_CONFIG_PHASE" = 1 ]; then
    XMODIFIERS="@im=kime"
    GTK_IM_MODULE=kime
    QT4_IM_MODULE=xim
    QT_IM_MODULE=kime
    CLUTTER_IM_MODULE=xim
fi
