name: CI

on:
  push:
    branches-ignore:
      - 'master'
      - 'releases/*'
      - 'features/*'
  pull_request:
    branches:
      - 'develop'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Update apt
      run: sudo apt-get update -y
    - name: Install packages
      run: sudo apt-get install -y pkg-config libpango1.0-dev libcairo2-dev libgtk-3-dev libglib2.0 libxcb1 qt5-default qtbase5-dev qtbase5-private-dev libqt5gui5 cmake
    - name: Build
      run: cargo xtask XIM GTK3 QT5
    - name: Run tests
      run: cargo test --verbose

  format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Check Rustfmt
        run: cargo fmt -- --check
