name: CI

on:
  push:
    branches:
      - 'develop'
      - 'releases/*'
  pull_request:
    branches:
      - 'develop'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Update apt
      run: sudo apt-get update -y
    - name: Install packages
      run: sudo apt-get install -y pkg-config libpango1.0-dev libcairo2-dev libgtk2.0-dev libgtk-3-dev libglib2.0 libxcb1 qt5-default qtbase5-dev qtbase5-private-dev libqt5gui5 cmake ninja-build
    - name: Build
      run: cargo xtask build --mode Debug XIM GTK2 GTK3 QT5
    - name: Run tests
      run: cargo xtask test

  markdown-lint:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - run: sudo npm install -g markdownlint-cli
      - run: sudo npm install -g markdown-link-check
      - run: ci/check_md.sh

  format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Check Rustfmt
        run: cargo fmt -- --check