name: CI

on:
  push:
    branches-ignore:
      - 'master'
  pull_request:
    branches:
      - 'develop'
      - 'master'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Update apt
      run: sudo apt-get update -y
    - name: Install packages
      run: sudo apt-get install -y pkg-config libpango1.0-dev libcairo2-dev libgtk-3-dev libglib2.0 libxcb1
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose

  format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: mbrobbel/rustfmt-check@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
