name: Release

on:
  push:
    tags:
    - 'v*'

jobs:
  packaging:
    runs-on: ubuntu-20.04
    
    steps:
      - uses: actions/checkout@v2
      - name: Set VER
        id: version
        run: echo "::set-output name=ver::$(grep '^version =' xtask/Cargo.toml|head -n1|cut -d\" -f2)"
      - name: Make temp dir
        run: mkdir /tmp/kime
      - name: Build image
        run: docker build --tag riey/kime --network=host .
      - name: Run image
        run: docker run -it  -e "TERM=xterm-256color" --network=host -v /tmp/kime:/opt/kime-out riey/kime release
      - name: Create draft release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: true
          prerelease: false

      - name: Upload archive
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: /tmp/kime/kime.7z
          asset_name: kime-${{ steps.version.outputs.ver }}.7z
          asset_content_type: application/x-7z-compressed

      - name: Upload deb package
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: /tmp/kime/kime_${{ steps.version.outputs.ver }}_amd64.deb
          asset_name: kime_${{ steps.version.outputs.ver }}_amd64.deb
          asset_content_type: application/x-xz
  
